# Sumlime Text Mavens Mate Project Files Ignore
config/
deploy/
*.sublime-project
*.sublime-settings
*.sublime-workspace

###
### Not Ignored for now
###
# Eclipse Force.com IDE files ignore
#.project
#.setting/
#salesforce.schema